<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestAll">

    <test name="order">
        <parameter name="searchPar" value="pizza"></parameter>
        <parameter name="searchPar1" value="home"></parameter>
        <classes>
            <class name="andr.tests.TestBasePage">
            <methods>
                <include name="searchBusines"/>
                <exclude name="findElements1" />
                <exclude name="findElements" />
            </methods>
            </class>

        </classes>

    </test>

    <!--<test name="database">-->
    <!--<classes>-->
    <!--<class name="com.mkyong.testng.examples.suite.TestConfig" />-->
    <!--<class name="com.mkyong.testng.examples.suite.TestDatabase" />-->
    <!--</classes>-->
    <!--</test>-->

</suite>
